#registration-from{
	width: 40%;
	padding: 10px;
	border-radius: 5%;
	text-align: left;
	margin: 0 auto;
}
h1{
	text-align: center;
}
.form-group{
	width: 80%;
	margin: 10px auto;
}
.submit-btn{
	width: 40%;
	margin: 10px auto;
}